/* Custom CSS for Tournaments and Events Page */
body {
  background-color: rgb(27, 27, 33);
}

/* Header Styles */
header {
  padding: 20px 0;
}

header h1 {
  font-weight: 800;
  font-family: sans-serif;
  color: orange;
  margin: 0;
}

/* Section Styles */
section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 20px;
}

/* main image css */

.page2-main-img-div {
  padding-top: 10px;
}

/* esports info below main image */

.esports-info {
  padding-top: 50px;
}

.esports-info i {
  color: orange;
}

.esports-info h2 {
  font-weight: 800;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.esports-info p {
  font-size: 20px;
  padding-top: 10px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}



/* Card Styles */

/* Custom CSS for Image Grid */
.image-grid .card {
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .image-grid .col-md-4 {
    max-width: 100%;
  }
}

.image-grid .card-body {
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.card img {
  border: 2px solid wheat;
}

.last-img {
  text-align: center;
  padding: 20px 0;
}

.team-img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  z-index: 2;

}

/* footer */

footer {
  background-color: #343a40;
  color: #fff;
}

footer h5 {
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}

footer .social-link i {
  font-size: 24px;
}

@media (max-width: 767px) {
  footer .col-md-4 {
    margin-bottom: 30px;
  }
}

footer.i {
  color: wheat;
}

.img-footer {
  width: 120px;
}